[tool.poetry]
name = "databricks-bundle"
version = "0.5.10"
description = "Databricks bundle for the Pyfony framework"
readme = "README.md"
repository = "https://github.com/bricksflow/databricks-bundle"

license = "MIT"

authors = [
    "Jiri Koutny <jiri.koutny@datasentics.com>"
]

classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

include = ["*.yaml"]

packages = [
    { include = "databricksbundle", from = "src" },
]

[tool.poetry.dependencies]
python = "~3.7.3"
pyfony-core = "^0.7.0"
pyfony-bundles = "^0.3.0"
injecta = "^0.9.0"
logger-bundle = "^0.6.0"
console-bundle = "^0.3.0"

[tool.poetry.dev-dependencies]
databricks-connect = "^7.3"
pylint = "2.4.*"
pytest = "5.2.*"

[tool.poetry.plugins."pyfony.bundle"]
create = "databricksbundle.DatabricksBundle:DatabricksBundle.autodetect"

[pyfony.bootstrap]
containerInit = "pyfonycore.container.containerInit:initWithCurrentBundle"
rootModuleName = "databricksbundle"
allowedEnvironments = ["test_aws", "test_azure"]
