parameters:
  databricksbundle:
    enableNotebookErrorHandler: True

services:
  databricksbundle.notebook.function.ArgumentResolver:
    arguments:
      - '@databricksbundle.logger'

  databricksbundle.notebook.function.ArgumentsResolver:

  databricksbundle.notebook.logger.NotebookLoggerFactory:
    arguments:
      - '@databricksbundle.notebook.pathResolver'
