parameters:
  databricksbundle:
    enable_notebook_error_handler: True
    storages:

services:
  databricksbundle.notebook.logger.NotebookLoggerFactory:
    arguments:
      - '@databricksbundle.notebook.path_resolver'
    tags:
      - {name: 'daipe.logger.factory', alias: 'databricks'}

  databricksbundle.test.DatabricksConnectTestCommand:
    arguments:
      - '@consolebundle.logger'
    tags:
      - 'console.command'

  databricksbundle.notebook.DataFrameDisplay:
    tags:
      - {name: 'pysparkbundle.dataframe.show_method', alias: "databricks_display"}

  databricksbundle.notebook.PandasDataFrameDisplay:
    tags:
      - {name: 'daipecore.pandas.dataframe.show_method', alias: "databricks_display"}

  databricksbundle.filesystem.DbUtilsFilesystem:
    tags:
      - {name: 'pysparkbundle.filesystem', alias: 'dbutils.fs'}

  databricksbundle.widgets.DatabricksWidgets:
    tags:
      - "widgets.factory"

  databricksbundle.storage.StorageConfigurator:
    arguments:
      - '%databricksbundle.storages%'
      - !tagged 'databricks.storage.configurator'
    tags:
      - databricks.configurator

  databricksbundle.storage.adapter.AzureGen2Configurator:
    tags:
      - 'databricks.storage.configurator'
