name: pipeline
on: [push]

jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '8.0.x'
      - uses: conda-incubator/setup-miniconda@v2.0.0
        with:
          miniconda-version: 'py38_4.8.3'
      - name: setup
        run: |
          ./env-init.sh -y --verbose
          eval "$(conda shell.bash hook)"
          source $HOME/.poetry/env
          conda activate $PWD/.venv
      - name: pylint
        run: |
          eval "$(conda shell.bash hook)"
          conda activate $PWD/.venv
          ./pylint.sh
      - name: crlf
        run: |
          eval "$(conda shell.bash hook)"
          conda activate $PWD/.venv
          ./check-crlf.sh
      - name: tests
        run: |
          eval "$(conda shell.bash hook)"
          conda activate $PWD/.venv
          ./run_tests.sh
